main{
    padding: map-get($estilos, paddingUno);
    color: map-get($estilos, colorPrimario);
    background-color: map-get($estilos, colorSecundario);
    section {
        @extend %flexRow;
        padding: 20px;
    }
    .seccionDos {
        @include display($direction: column, $justify: center, $align:center)
    }
}