$estilos: (
    colorPrimario: white,
    colorSecundario: black,
    paddingUno: 10px,
    paddingDos: 20px,
    paddingTres: 30px,
    displayFlex: flex,
    flexColumn: column,
    flexRow: row,
);